// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


// My colors

$charcoal: #264653;
$persian-green: #2A9D8F;
$yellow-crayola: #E9C46A;
$sandy-brown: #F4A261;
$burnt-sienna: #E76F51;
