<h1 class="text-center">Cocktailicious</h1>
<p class="text-center">Discover our selection of delicious cocktails!</p>

<div class="cards">
  <% @cocktails.each do |cocktail| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/613037/pexels-photo-613037.jpeg?cs=srgb&dl=pexels-alem-s%C3%A1nchez-613037.jpg&fm=jpg)">
      <%= link_to (cocktail_path(cocktail.id)) do %>
        <h4><i class="fas fa-cocktail"></i> <%= cocktail.name %></h4>
      <% end %>
    </div>
  <% end %>
</div>

